<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="header-headline">Encrypted message</a>
            <form id="search" class="header-form">
                <input type="text" class="header__input" name="code" required placeholder="Поиск">
                <button class="icon" type="submit"><img src="/icon/search.png"></button>
            </form>
        </div>
    </div>
</header>